/* ScrollBar */


/* PC */

@media (min-width: 1024px) {
    /* Thêm CSS cho PC ở đây nếu cần */
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1024px) {
    /* Thêm CSS cho Tablet ở đây nếu cần */
}


/* Mobile */

@media (max-width: 739px) {
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: 0.6s;
    }
    #navbar.active {
        height: 1000px;
        bottom: 0;
        width: 100%;
        background: #000000;
    }
    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #navbar ul li a {
        color: #fff;
    }
}
